<div class="min-vw-100 min-vh-100">
  <div class="d-flex flex-row">
    <div class="d-none d-md-block w-75 min-vh-100 position-relative">
      <div class="bg-image min-vh-100 w-100 position-absolute top-0 start-0">
      </div>
      <div class="d-flex justify-content-center align-items-center vh-100 w-100 position-absolute top-0 start-0">
        <div class="logo-title">
          <span class="fs-1 text-primary">Aline</span>
          <img src="assets/images/logo.svg" class="logo" alt="$"/>
          <span class="fs-1 text-light">Financial</span>
        </div>
      </div>
    </div>
    <div class="w-50">
      <div class="container">
        <div class="m-5">
          Test
        </div>
      </div>
    </div>
  </div>
</div>
