<ng-template>
  <div class="registration-content animate__animated animate__fadeSlideInLeft animate__fast">
    <div class="container p-5">
      <h1 class="display-3 my-3">Welcome!</h1>
      <div class="w-75 pb-3">
        <hr class="line-divider"/>
      </div>
      <div class="fs-2 mt-5 mb-2">
        You're about to enter <br/> <span class="text-primary fw-bold">your dashboard.</span>
      </div>
      <div class="mt-3 text-muted fw-light fs-5">
        Transfer. Deposit. Manage.
        <div>
          <span class="text-primary fw-normal">Your bank</span> anywhere.
        </div>
      </div>
      <div class="text-center" style="margin-top: 4.5rem">
        <button class="btn btn-outline-primary btn-lg rounded-pill py-md-3 px-md-4 fs-4"
                (click)="nextTemplate()">
          Get Started
          <fa-icon icon="angle-right"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template>
  <div class="registration-content animate__animated animate__fadeSlideInLeft">
    <div class="container p-5">
      <h1 class="display-4 my-3">Before we start...</h1>
      <div class="w-100 pb-3">
        <hr class="line-divider"/>
      </div>
      <div class="fs-2 mt-5 mb-2">
        Which best describes you?
        <p class="text-muted fs-5 fst-italic">You must be a member to use the dashboard.</p>
      </div>
      <div class="row row-cols-1 row-cols-lg-2 mt-5">
        <div class="col text-center my-2">
          <a [href]="landingPortalSignup">
            <button class="btn btn-outline-secondary w-100 fs-5 py-3 rounded-pill btn-change-text">
            <span class="btn-default-text">
              I am not yet a member.
            </span>
              <span class="btn-hover-text">
              Create an account <fa-icon icon="user-plus"></fa-icon>
            </span>
            </button>
          </a>
        </div>
        <div class="col text-center my-2">
          <button class="btn btn-outline-primary w-100 fs-5 py-3 rounded-pill btn-change-text"
                  (click)="nextTemplate()">
            <span class="btn-default-text">
              I am an existing member.
            </span>
            <span class="btn-hover-text">
              Continue registration <fa-icon icon="user-check"></fa-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template>
  <h1 class="h1">Look Up</h1>
</ng-template>

<ng-container #formContainer class="position-relative h-100">
</ng-container>
