<div class="position-fixed min-vh-100 d-md-none d-block">
  <div class="pb-2 pt-3 bg-dark text-light position-fixed top-0 start-0 w-100 fs-4 shadow-sm">
    <div class="d-flex justify-content-around">
      <div>
        <img src="assets/images/logo.svg" alt="Aline Financial" class="img-fluid" style="width: 45px"/>
      </div>
      <div class="text-light">
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-dark">
          <fa-icon icon="bars" size="2x"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="bg-dark text-light position-fixed bottom-0 start-0 shadow-sm w-100">
    <div class="d-flex justify-content-around">
      <app-tab-nav [tabs]="tabs"></app-tab-nav>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark position-fixed top-0 start-0 w-100 d-md-block d-none">
  <div class="container">
    <a class="navbar-brand d-flex justify-content-start align-items-center">
      <span class="text-primary">Aline</span>
      <img src="assets/images/logo.svg" style="height: 32px" alt="$"/>
      Financial
    </a>
    <div class="d-flex justify-content-end">
      <ul class="nav">
        <li class="nav-item" *ngFor="let tab of tabs">
          <a class="nav-link text-light" [routerLink]="tab.route">{{tab.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
