<div class="position-fixed min-vh-100 d-md-none d-block">
  <div class="pb-2 pt-3 bg-dark text-light position-fixed top-0 start-0 w-100 fs-4 shadow-sm">
    <div class="d-flex justify-content-around">
      <div>
        <img src="assets/images/logo.svg" alt="Aline Financial" class="img-fluid" style="width: 45px"/>
      </div>
      <div class="d-flex align-items-center">
        Aline <span class="text-primary ms-2">Financial</span>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-dark">
          <fa-icon icon="bars" size="2x"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="pt-3 pb-5 bg-dark text-light position-fixed bottom-0 start-0 fs-4 shadow-sm w-100">
    <div class="d-flex justify-content-around">
      Summary Accounts Offers
    </div>
  </div>
</div>
