@import "./colors"
@import "bootstrap-grid"

.bg-image
  background-image: url("~src/assets/images/architecture.jpg")
  background-size: cover
  background-position: center
  filter: blur(3px)

.app-modal-container
  width: 300px

.app-modal
  max-width: 300px
  padding: 1rem 2.5rem

@include media-breakpoint-up(sm)
  .app-modal
    max-height: none

@include media-breakpoint-up(md)
  .app-modal-container
    width: 360px

  .app-modal
    max-width: 360px
    max-height: none
    padding: 3.5rem 2.5rem

.line-divider
  color: $primary
  opacity: 1
  width: 100%
  min-height: 0.15rem
  padding: 0
  animation: line-divider-enter 0.5s ease

@keyframes line-divider-enter
  from
    width: 0
    opacity: 0

  to
    width: 100%
    opacity: 1
