<div appSingleChar [inputLength]="6">
<!--  <input type="text"-->
<!--         mask="\d{1}"-->
<!--         inputmode="numeric"-->
<!--         class="single-char-input"-->
<!--         maxlength="1"/>-->
<!--  <input type="text"-->
<!--         pattern="\d*"-->
<!--         inputmode="numeric"-->
<!--         class="single-char-input"-->
<!--         maxlength="1"/>-->
<!--  <input type="text"-->
<!--         pattern="\d*"-->
<!--         inputmode="numeric"-->
<!--         class="single-char-input"-->
<!--         maxlength="1"/>-->
<!--  <input type="text"-->
<!--         pattern="\d*"-->
<!--         inputmode="numeric"-->
<!--         class="single-char-input"-->
<!--         maxlength="1"/>-->
<!--  <input type="text"-->
<!--         pattern="\d*"-->
<!--         inputmode="numeric"-->
<!--         class="single-char-input"-->
<!--         maxlength="1"/>-->
<!--  <input type="text"-->
<!--         pattern="\d*"-->
<!--         inputmode="numeric"-->
<!--         class="single-char-input"-->
<!--         maxlength="1"/>-->
</div>
