<div class="otp-input">
  <input type="text"
         pattern="\d*"
         inputmode="numeric"
         class="single-char-input"
         maxlength="1"/>
  <input type="text"
         pattern="\d*"
         inputmode="numeric"
         class="single-char-input"
         maxlength="1"/>
  <input type="text"
         pattern="\d*"
         inputmode="numeric"
         class="single-char-input"
         maxlength="1"/>
  <input type="text"
         pattern="\d*"
         inputmode="numeric"
         class="single-char-input"
         maxlength="1"/>
  <input type="text"
         pattern="\d*"
         inputmode="numeric"
         class="single-char-input"
         maxlength="1"/>
  <input type="text"
         pattern="\d*"
         inputmode="numeric"
         class="single-char-input"
         maxlength="1"/>
</div>
