<!-- Desktop version of transactions table -->
<div class="d-md-block d-none">
  <div class="container border rounded-3 p-3 shadow-sm mb-4 bg-white">
    <div *ngIf="transactions; else loading">
      <h1 class="h5 text-primary">{{viewTitle}}</h1>
      <hr class="line-divider"/>
      <div class="table-menu d-flex justify-content-end">
        <div class="mx-2">
          <form #searchForm="ngForm" (ngSubmit)="applySearch()">
            <div class="input-group">
              <input name="searchTerm" [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Search"/>
              <button type="submit" class="btn btn-outline-secondary">
                <fa-icon icon="search"></fa-icon>
              </button>
            </div>
          </form>
        </div>
        <div class="mx-2">
          <button class="btn btn-outline-secondary" ngbTooltip="Refresh" placement="bottom" (click)="loadPage(currentPage)">
            <fa-icon icon="sync-alt"></fa-icon>
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <caption>
            Page {{currentPage}} of {{totalPages}}
          </caption>
          <thead>
          <tr>
            <th>
              <app-sort-toggle
                name="Date"
                sortValue="date"
                (applySort)="applySort($event)"
              ></app-sort-toggle>
            </th>
            <th *ngIf="mode==='MEMBER'">Account</th>
            <th>Description</th>
            <th>
              <app-sort-toggle
                name="Amount"
                sortValue="amount"
                (applySort)="applySort($event)"
                ></app-sort-toggle>
            </th>
            <th>Balance</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{transaction.date | date: 'MM/dd/yyyy'}}</td>
            <td *ngIf="mode==='MEMBER'">{{transaction.accountNumber.substr(transaction.accountNumber.length - 7)}}</td>
            <td>{{transaction | transactionDescription}}</td>
            <td [ngClass]="{'text-danger': isDecreasing(transaction)}">{{transaction | transactionAmount}}</td>
            <td>{{transaction.postedBalance / 100 | currency}}</td>
            <td [ngClass]="{
              'text-success': transaction.status === 0,
              'text-danger': transaction.status === 1,
              'text-muted': transaction.status === 2
              }">{{transaction | transactionStatus}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <ngb-pagination [pageSize]="pageSize"
                        [collectionSize]="totalElements"
                        (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="text-center text-primary my-5">
    <div class="spinner-border"></div>
  </div>
</ng-template>

<ng-template #loadingTransactions>
  <tbody>
    <tr class="bg-transparent">
      <td colspan="6" class="text-muted text-center">
        <div class="spinner-grow"></div>
      </td>
    </tr>
  </tbody>
</ng-template>
